/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/***********************************************************Estilos Personalizados *************************************/

.descripction-site{
	text-align: justify;
}

.social-nav-links ul {
	list-style: none;
    margin:0 80px 0px 7px;

}

.social-nav-links ul li {
	display: inline;
	padding: 0px;
	margin: 4px;
	margin-top: 10px;
	padding-top: 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	color:#2196F3 !important;
}

.parrafo-noticia-pequenia{
	text-align: justify !important;
	line-height: normal !important;
	font-size: 100%;
}

.pagination li.active {
    background-color: #0288D1;
}


